/* ******************INDSTILLINGER For opgave 1-20*************** */
/* ***************Det er herunder du skal rette:***************** */

/*-------------------------------boks 1--------------------------------*/

.box1 .content {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1, 6rem;
  text-shadow: 5px 5px 12px magenta;
}

/*-------------------------------boks 2--------------------------------*/

.box2 .content {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

/*-------------------------------boks 3--------------------------------*/

.box3 .content {
  color: green;
  text-shadow: 1px 1px 5px greenyellow;
  text-indent: 30%;
}
.box3 .content p::first-letter {
  color: blue;
  font-size: 2rem;
}

/*-------------------------------boks 4--------------------------------*/

.box4 .content {
  color: red;
  text-transform: uppercase;
  font-size: 20px;
}

/*-------------------------------boks 5--------------------------------*/

@font-face {
  font-family: minFont;
  src: url("elriolobo/elriott2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box5 .content {
  font-family: minFont;
  color: orange;
  font-size: 60px;
  font-weight: 100;
}

/*-------------------------------boks 6--------------------------------*/

@font-face {
  font-family: "russianoregular";
  src:
    url("russiano-webfont.woff2") format("woff2"),
    url("russiano-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box6 .content {
  font-family: "russianoregular";
  color: red;
  font-size: 50px;
  font-weight: 200;
}

/*-------------------------------boks 7--------------------------------*/

.box7 .content {
  font-family: "Krona One", sans-serif;
  color: cornflowerblue;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

/*-------------------------------boks 8--------------------------------*/

.box8 .content {
  font-family: "Pacifico", cursive;
  color: purple;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

/*-------------------------------boks 9--------------------------------*/

.box9 .content {
  background-color: rgb(187, 224, 150);
  line-height: 25px;
  font-size: 20px;
}

/*-------------------------------boks 10--------------------------------*/

.box10 .content {
  letter-spacing: 1px;
  background-color: rgb(203, 249, 249);
  font-size: 20px;
}

/*-------------------------------boks 11--------------------------------*/

.box11 .content {
  a {
    color: orangered;
    text-decoration: none;
    font-weight: bold;
  }
}

/*-------------------------------boks 12--------------------------------*/

.box12 .content {
  background-image: url(himmel.jpeg);
  background-size: cover;
  color: brown;
  font-size: 30px;
  font-weight: bold;
}

/*-------------------------------boks 13--------------------------------*/

.box13 .content {
  font-size: 60px;
  font-weight: bold;
  color: transparent;
  background-image: url(himmel.jpeg);
  background-size: cover;
  background-clip: text;
}

/*-------------------------------boks 14--------------------------------*/

.box14 .content {
  background-image: linear-gradient(#ff1493, #ffff00, #ff0000);
  font-size: 30px;
  font-style: italic;
  color: gainsboro;
  text-align: right;
}

/*-------------------------------boks 15--------------------------------*/

.box15 .content {
  background:
    url(bg_images/blomst.png) no-repeat right center,
    linear-gradient(to right, #f6b26b, #d98bd8, #5bc0c8);
  background-size: 120px, cover;
  color: white;
  font-size: 24px;
  padding: 20px;
}

/*-------------------------------boks 16--------------------------------*/

.box16 .content {
  width: 100%;
  height: 200px;
  background-image: repeating-radial-gradient(circle at top left, black, maroon 5%, pink 10%, white 15%);
}

/*-------------------------------boks 17--------------------------------*/

.box17 .content {
  display: flex;
  justify-content: space-around;
  background-image: url(himmel.jpeg);
  background-size: 100%;
}

.box17 .content .kvadrat1 {
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;
  background-image: url(bg_images/blomst.png);
  background-size: 100%;
  background-color: #fed842;
}

.box17 .content .kvadrat2 {
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;
  background-image: url(bg_images/blomst.png);
  background-size: 100%;
  background-color: #fed8428f;
}

/*-------------------------------boks 18--------------------------------*/

.box18 .content {
  display: flex;
  justify-content: center;
  background-image: url(bg_images/blue.jpeg);
  background-size: cover;
}

.box18 .content .kvadrat {
  width: 100px;
  height: 100px;
  background-image: url(bg_images/blomst.png);
  background-size: 100%;
  filter: sepia(100%);
}

/*-------------------------------boks 19--------------------------------*/

.box19 .content {
  color: #ff1493;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

/*-------------------------------boks 20--------------------------------*/

.box20 .content {
  background-image: url(bg_images/pink.jpg);
  color: white;
  font-size: 30px;
  font-weight: bold;
}
